/* RESET + FONTE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Arial, sans-serif;
}

body {
    background: #000;
    color: #e2e2e2;
}

/* HEADER */
.topo {
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #a7a6a6, #0f0f0f);
    border-bottom: 1px solid #2d2d2d;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
}

.logo img {
    height: 70px;
    filter: drop-shadow(0 0 10px #a043ff);
}

/* MENU */
.menu a {
    margin: 0 16px;
    color: #d38bff;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    transition: 0.3s ease;
    display: inline-block; 
}

.menu a:hover {
    transform: scale(1.15); /* zoom */
    color: #e7b2ff;   
}

.icon-search {
    margin-left: 20px;
    font-size: 20px;
    color: #d38bff;
    cursor: pointer;
    transition: 0.3s;
}

.icon-search:hover {
    transform: scale(1.2);
}

/* HERO SECTION */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 90px 70px;
    flex-wrap: wrap;
}

/* TEXTOS */
.texto {
    max-width: 650px;
}

h1 {
    font-size: 55px;
    color: #d1d1d1;
    margin-bottom: 25px;
    font-weight: 700;
    letter-spacing: 1px;
    text-shadow: 0 0 10px rgba(159, 73, 255, 0.4);
}

.subtitulo {
    font-size: 23px;
    margin-bottom: 28px;
    line-height: 1.6;
    color: #cccccc;
}

.descricao {
    font-size: 17px;
    line-height: 1.6;
    color: #b5b5b5;
    margin-bottom: 45px;
}
.texto p {
    margin-bottom: 18px;
}
h1 {
    font-size: 58px;
    font-weight: 700;
    color: #d9c4ff;
}
/* BOTÃO */
.botao {
    display: inline-block;
    padding: 16px 50px;
    background: linear-gradient(90deg, #a34bff, #8b3dff);
    border: none;
    border-radius: 50px;
    font-size: 15px;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 0 25px #9a47ff55;
    transition: .3s;
}

.botao:hover {
    transform: scale(1.05);
    box-shadow: 0 0 35px #b46cffaa;
}


/* IMAGEM HERO */
.hero {
    display: flex;
    align-items: center; 
    padding: 120px 60px; 
}
.imagem img {
    width: 100%;
    height: auto;
    filter: drop-shadow(0 0 25px #b041ff);
    transition: 0.6s ease;
    filter: drop-shadow(0 0 25px #b350ff);

}

.imagem img:hover {
    transform: scale(1.05);
}
.hero {
    margin-top: 40px;
}
